
body
{max-width: 1085px;
border: 2px solid black;
align-content: center;
font-family: 'verdana';
font-size: 0.8em;}


section
{
	display: flex;
	flex-direction: column;
	margin-top: -50px;
}

#contact, #propos,#loisir
{
	border: 2px black solid;
	background-color: rgb(64,64,64);
	max-height: 30px;
	padding-bottom: 25px;
}

#contact h2, #propos h2, #loisir  h2
{color: #e3e034;
font-family: 'verdana;'}


#propos p
{max-width: 170px;
margin-left: 40px;
margin-top: 40px;}

#loisir
{margin-top: 400px;
}

#loisir img
{display: inline-block;
margin-left: 40px;
padding-top: 50px;}


#experience,#formation,#recommandation
{max-width: 700px;}

#contenu
{
	display: flex;
	flex-direction: column;
	margin-left: 35px;
	margin-top: 35px
}


#liseret, #contenu
{
	display: inline-block;
	vertical-align: top;
}

#contenu h2
{margin-right: 350px;
padding-top: 35px;
}

hr
{height: 3px;
	background-color: #e3e034;
	width:100%;
	border:none;
	margin-top: -11px; 
}

#liseret
{
	width: 25%;
	height: 1200px;
	background-color: #e3e034;
	align-items: center;
}

#liseret h2
{
	text-align: center;
}

 #contenu h1
{
	color: red;
	padding-bottom: 90px;
	text-align: left;
	font-size: xx-large;
}

 #contenu img
 {
 	width: 35px;
 	margin-bottom: -10px;
 	margin-left: 25px;
 	margin-right: 20px;
 	color: #e3e034
 }


#liseret p img
{border-radius: 20px;
  margin-left: 75px;
 } 

#liseret ul
{margin-left: -12px;
list-style-type: none;}

#liseret li
{margin-bottom: 12px;
}


#experience, #formation
{display: flex;
justify-content:space-between;
 }

#ac,#cc 
{display: inline-block;
justifi-content:space-between}

.ab
{max-width: 300px;}

.ab li
{margin-bottom: 40px;}

.aa li
{margin-bottom:72px; }

.ba li
{margin-bottom: 30px;}

.bb li
{margin-bottom: 48px;}

.bb li
{max-width: 400px;}

.ab li, .bb li 
{ margin-left: -400px;
 }

.bb li, .ab li
{max-width: 300px;}

.ab li, .bb li
{list-style-type: none;}

.aa ul, .ba ul
{list-style-image: url('point.png');}
